
<div class="container_full" ng-controller="AddLocationCtrl" data-ng-app="myApp">
<div class="col-xs-2">
 			<button type="button" class="btn btn-primary" name="Add location" ui-sref="app.addlocation">Add Location</button>
 		</div>
 <div class="container technologies clearfix">
 		<div class="col-xs-12">
 		
 		</div>
		<div class="new">
			<div class="texh_row clearfix">
				<div class="rows" class="grid-container">	
					<ul class="rig columns-3">
		                <li class="media" >
		                  <div align="center" class="list_technologies" align="center" >
						    <!-- <img  class="tech_images" alt={{dashboard.title}} /> -->
						    <a href="uploads">
						    <h5 class="tech_name"><img class="tool_top_images" src="images/tool-tip.png" /></h5>
					      </div>     
		                </li>
		            </ul>
		            
				</div>
			</div>
		</div>
	</div> 
</div>


