
<div class="container_full" ng-controller="FavoritiesCtrl" data-ng-app="myApp">
<div class="col-xs-2">
 		<button type="button" class="btn btn-primary" name="Add location" ui-sref="app.addfavorities">Add Favorities</button>
 		</div>


 <div class="container technologies clearfix">
 		<div class="col-xs-12">
 		
 		</div>
		<div class="col-xs-12" ng-init="getFavoritiesList()">
        <div><label style="margin-left: 25px;font-size: large;">Favorities List</label>
                </div>
        <div id="no-more-tables" class="col-xs-12" style="margin-bottom: 20px;">
            <table class="col-md-12 table-striped table-condensed cf table-change common-table">
            <thead>                                                      
               <tr>
                    <th>Favorities Id</th>
                    <th>Location Id</th>
                    <th>User Id</th>
                </tr>
            </thead>
            <tbody class="common-table-head" ng-repeat="favorities in favoritiesList">
            <tr>
                 <td data-title="Name">{{favorities.favouriteid}}</td>
                 <td data-title="Subscription Type">{{favorities.locationid}}</td>
                 <td data-title="Member Since">{{favorities.userid}}</td>
            </tr>
            </tbody>
        </table>
    </div>
	</div> 
</div>


